@page "/"
@namespace MangaQuotes.Pages
@using MangaQuotes.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="/css/rivet.css">
    <link media="all" rel="stylesheet" href="/css/site.css">
    <base href="~/" />
    <title>Manga Quotes</title>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <footer class="rvt-footer m-top-xxl" role="contentinfo">
        <div class="rvt-footer__copyright-lockup">
            <p>Manga Quotes can be found on <a href="https://github.com/jasonfrancis/MangaQuotes">Github</a> and is freely available under the <a href="https://mit-license.org/">MIT License</a>.</p>
        </div>
        <!-- <ul class="rvt-footer__aux-links">
            <li class="rvt-footer__aux-item">
            </li>
            <li class="rvt-footer__aux-item">
            </li>
        </ul> -->
    </footer>
    <script src="/js/rivet.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
            
