<div class="rvt-header__controls">
    <!-- Main inline nav element -->
    <nav class="rvt-header__main-nav" role="navigation">
        <ul>
            <li>
                <a href="/Characters">Characters</a>
            </li>
            <li>
                @* <a href="/Quotes" aria-current="page">Quotes</a> *@
                <a href="/Quotes">Quotes</a>
            </li>
        </ul>
    </nav>
</div>