@foreach(var message in Messages)
{
	<div class="rvt-inline-alert rvt-inline-alert--danger">
		<span class="rvt-inline-alert__icon">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
				<use xlink:href="/css/icons/rvt-icons.svg#rvt-icon-close-circle"></use>
			</svg>
		</span>
		<span class="rvt-inline-alert__message" id="@(Id + "-message")">
			@message
		</span>
	</div>
}

@code {
    [Parameter]
    public string Id {get;set;}

    [Parameter]
	public List<string> Messages { get; set; }
}